{
	"extends": ["eslint:recommended"],
	"parserOptions": {
		"ecmaVersion": 5,
		"sourceType": "module"
	},
    "env": {
    	"node": true
    },
	"rules": {
		"comma-dangle": ["error", "always-multiline"],
		"no-console": ["error", { allow: ["warn", "error"] }]
	},
	"globals": {
		"Set": true,
		"Promise": true
	}
}
